img {
    width: 300px;
    height: 200px;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #7c9fce;
    color: #060270;
}


.button {
  flex: 1;
  padding: 15px;
  font-size: 18px;
  background-color: #060270;
  color: #7c9fce;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}


.button-container {
    display: flex;
    width: 100%;
}

.container {
  position: relative;
}

.iron-mask {
  width: 200px; /* Adjust as needed */
  height: auto;
  opacity: 0; /* Initially hidden */
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}